Repository codes-templates/npm-react: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

.lintstagedrc:

{
  "**/*.{css,scss}": [
    "stylelint --fix"
  ],
  "*.{ts,tsx}": [
    "eslint --fix"
  ]
}

add router
  __tests__/dom.test.tsx
  package.json
  playground/.storybook/main.js
  playground/package.json
  playground/src/main.tsx
  playground/src/pages/home/Home.tsx
  playground/src/routers.tsx
  src/styles/index.scss
Due: stylelint --fix, eslint --fix

types error
  package.json
  playground/tsconfig.json
Due: none

add storybook
  .storybook/main.js
  .storybook/preview-head.html
  .storybook/preview.js
  package.json
  playground/.storybook/main.js
  playground/package.json
  playground/src/pages/home/Home.tsx
  src/components/Demo.tsx
  src/components/index.ts
  src/index.ts
  src/stories/Button.stories.tsx
  src/stories/Button.tsx
  src/stories/Introduction.stories.mdx
  src/stories/button.css
  src/styles/index.scss
  vite.config.ts
Due: stylelint --fix, eslint --fix

add postcss nested
  .eslintignore
  .gitignore
  .lintstagedrc
  .storybook/main.js
  .stylelintrc.js
  .vscode/settings.json
  package.json
  playground/package.json
  playground/tsconfig.json
  playground/vite.config.ts
  postcss.config.js
  src/presets/index.ts
  src/styles/index.css
  tsconfig.json
  vite.config.ts
Due: stylelint --fix, eslint --fix

Rich readme
  README.md
  package.json
  vite.config.ts
Due: eslint --fix

github actions
  .github/workflows/ci.yaml
  .github/workflows/release.yml
  .lintstagedrc
  .stylelintrc.js
  package.json
Due: none

actions
  .github/workflows/ci.yaml
Due: none

add actions
  .github/workflows/ci.yaml
Due: none

add release
  .github/workflows/ci.yaml
  .github/workflows/release.yml
  README.md
Due: none

readme
  .github/workflows/release.yml
  README.md
Due: none

release
  .github/workflows/release.yml
  package.json
Due: none

change pkg name
  .github/workflows/release.yml
  .storybook/main.js
  README.md
  package.json
  playground/src/pages/home/Home.tsx
  playground/tsconfig.json
  playground/vite.config.ts
  src/stories/Button.tsx
  tsconfig.json
Due: eslint --fix

chore: release v0.0.1
  package.json
Due: none

update actions
  .github/workflows/release.yml
  .husky/pre-commit
  README.md
  package.json
Due: none

update readme
  README.md
  src/components/Demo.tsx
  tsconfig.json
Due: eslint --fix

fix tpecheck
  src/stories/Button.stories.tsx
  src/stories/Button.tsx
  tsconfig.json
Due: eslint --fix

fix playground typecheck
  playground/tsconfig.json
Due: none

readme
  .eslintignore
  README.md
  package.json
Due: none

chore: release v0.0.2
  package.json
Due: none

release sccript
  .github/workflows/release.yml
  package.json
Due: none

cancel package-lock ignore
  .github/workflows/ci.yaml
  .github/workflows/release.yml
  .gitignore
  package-lock.json
  package.json
Due: none

action update
  .github/workflows/ci.yaml
  .github/workflows/deploy.yaml
  .github/workflows/release.yml
  README.md
  package.json
Due: none

update
  .github/workflows/deploy.yaml
Due: none

update
  .github/workflows/deploy.yaml
  .github/workflows/release.yml
  README.md
Due: none

update
  .github/workflows/ci.yaml
  .github/workflows/deploy.yaml
  src/stories/Button.tsx
Due: eslint --fix

update
  .github/workflows/deploy.yaml
  README.md
  src/stories/Button.tsx
Due: eslint --fix

update
  .github/workflows/deploy.yaml
  README.md
Due: none

up
  .github/workflows/deploy.yaml
Due: none

chore: release v0.0.1
  package-lock.json
  package.json
Due: none

rename
  .lintstagedrc
  .storybook/main.js
  README.md
  package-lock.json
  package.json
  playground/src/pages/home/Home.tsx
  playground/tsconfig.json
  playground/vite.config.ts
  src/stories/Button.tsx
  tsconfig.json
Due: eslint --fix

add changelog support
  .github/workflows/release.yml
  package-lock.json
  package.json
Due: none

chore: release v0.0.2
  package-lock.json
  package.json
Due: none
